BASE_FRONTEND_URL=http://localhost:3003
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3003
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
RESEND_API_KEY=re_xxxx

# IPAYMU
IPAYMU_BASE_URL=https://sandbox.ipaymu.com
IPAYMU_API_KEY=API_KEY
IPAYMU_VA=your_ipaymu_va
IPAYMU_CALLBACK_URL=your_ipaymu_callback

# Cloudflare Creds
CLOUDFLARE_ACCOUNT_ID=cf_id
CLOUDFLARE_DATABASE_ID=cf_db_id_for_push_n_studio
CLOUDFLARE_API_TOKEN=cf_api_token