BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3003

# Cloudflare Creds
CLOUDFLARE_ACCOUNT_ID=cf_id
CLOUDFLARE_DATABASE_ID=cf_db_id_for_push_n_studio
CLOUDFLARE_API_TOKEN=cf_api_token